<div class="art">
	<app-autorcart></app-autorcart>
	<div class="art__content">
		<div class="one-news">
			<div class="one-news__leftmenu">
				<div class="one-news__leftmenu-fix">
					<div class="one-news__last">

						<div class="one-news__last-item">
							<div class="one-news__last-name" ></div>
						</div>

					</div>
				</div>
			</div>
			<div class="one-news__contentblock">
				<div class="one-news__header">
					<h1>Творческий путь</h1>
				</div>
				<div class="one-news__content" >
					контент
				</div>
			</div>
		</div>
	</div>
</div>