<div class="preloader" *ngIf="IsVisiblePreloader">
	<div class="preloader__line"></div>
</div>

<div class="art">
  <app-autorcart></app-autorcart>
  <div class="art__content">
    <div class="one-news">
      <!-- левое менгю -->
      <div class="one-news__leftmenu one-news__leftmenu_art">
        <div class="one-news__leftmenu-fix">
          <div class="one-news__last">


            <div *ngFor='let artItem of LeftSubArtsNew'>
              <div class="one-news__last-item"
                   *ngIf="artItem.object == 'page'"
                   routerLink="/art/{{ IdCat }}/{{ artItem.object_id }}"
                   routerLinkActive="active">
                <div class="one-news__last-name">
                  {{artItem.title}}
                </div>
              </div>
            </div>

            <div *ngFor='let artItem of LeftSubArtsNew'>
              <div class="one-news__last-item"
                   *ngIf="artItem.object == 'category'"
                   routerLink="/art/{{ IdCat }}/gallery/all"
                   routerLinkActive="active">
                <div class="one-news__last-name">
                  {{artItem.title}}
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>


      <div class="one-news__contentblock" *ngIf="OnePage">
        <div class="one-news__header">
          <h1 *ngIf="OnePage.title" [innerHTML]="OnePage.title.rendered"></h1>
        </div>
        <div class="one-news__content">
          <div *ngIf="OnePage.content" [innerHTML]="OnePage.content.rendered"></div>
        </div>
      </div>
    </div>
  </div>

</div>
