<div class="preloader" *ngIf="IsVisiblePreloader">
  <div class="preloader__line"></div>
</div>

<div class="one-news">
  <div class="one-news__leftmenu">
    <div class="one-news__leftmenu-fix">
      <h3 class="one-news__leftmenu-title">Последине новости</h3>
      <div class="one-news__last" *ngFor='let newsItem of NewsLeft'>
        <div class="one-news__last-item"
             routerLink="{{ '/all_news/news/' + newsItem.id }}"
             (click)="IdBtn(newsItem.id)"
             [ngClass]="{'active' : isActiveMenuItem(newsItem) }">
          <div class="one-news__last-date">{{ newsItem.date | date:'MM.dd.yyyy' }}</div>
          <div class="one-news__last-name" [innerHTML]="newsItem.title.rendered"></div>
        </div>

      </div>
    </div>
  </div>
  <div class="one-news__contentblock">
    <div class="one-news__header">
      <h1 *ngIf="Page.title" [innerHTML]='Page.title.rendered'></h1>

    </div>
    <div *ngIf="Page.content" class="one-news__content" [innerHTML]="Page.content.rendered"></div>
  </div>
</div>
