<div class="wrapper" [ngClass]="{'home':IsHomepage, 'arts':IsArt, 'searchresult':Searchresult}" >
	<header class="header">
		<div class="preloader" *ngIf="IsVisiblePreloader">
			<div class="preloader__line"></div>
		</div>
		<app-topmenu></app-topmenu>
	</header>

	<main class="content">
		<router-outlet></router-outlet>
	</main><!-- .content -->

</div>
<footer class="footer">
	<div class="footer__content">
		<div class="footer__logo" >
			<div class="footer__logo-link" [routerLink]="['/']"></div>
		</div>
		<div class="footer__center">
			<div class="footer__center-text">
				<span class="footer__center-bold">Сайт посвященный 4м художникам, <br>жившим в разную эпоху. Но составляющих одно целое</span>
				<span>
					Людмила Варламова: <a href="tel:+7 (903) 113-13-67">+7 (903) 113-13-67</a> <br>
					Наталья Варламова: <a href="tel:+7 (926) 210-39-64">+7 (926) 210-39-64</a>
				</span>
			</div>
		</div>
		<div class="footer__soc">
			<div class="footer__soc-list">
				<div class="footer__soc-item">
					<i class="mdi mdi-vk"></i>
				</div>
				<div class="footer__soc-item">
					<i class="mdi mdi-facebook"></i>
				</div>
				<div class="footer__soc-item">
					<i class="mdi mdi-twitter"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__bot">
		<a class="footer__bot-link" href="mailto::robindtamat@gmail.com">robindtamat@gmail.com</a>
	</div>
</footer><!-- .footer -->
