.one-news {
  display: flex;
  margin-top: 50px;
  &__leftmenu {
    flex: 0 0 360px;
    position: relative;
    display:flex;
    flex-direction: column;
    // &_art {
    //   flex-direction: column-reverse;
    //   justify-content:flex-end;
    // }
    &-fix {
      // position: fixed;
      // width: 275px;
    }
    &-title {
      font-size: 20px;
      color: $black;
      font-weight: bold;
      margin-bottom: $sp*2 !important;
      border-bottom: 2px solid $gold;
      margin-right: 85px;
      padding-bottom: 10px;
    }
  }
  &__contentblock {
    flex: 1;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    h1 {
      br {
        display: none;
      }
    }
    &-date {
      margin-top: 17px;
      color: $black;
      margin-left: $sp;
      font-size: 14px;
      opacity: 0.8;
      &:before {
        content: "\F0F5";
        font-family: "Material Design Icons";
        position: relative;
        margin-right: 5px;
        top: 1px;
      }
    }
  }
  &__content {
    line-height: 1.2;
    color:$black;
    margin-bottom: $sp*5;
  }
  &__last {
    animation: vizible  .7s;
    &-item {
      display: flex;
      align-items: flex-start;
      border-bottom: 1px solid #E0E0E0;
      margin-right: 85px;
      padding: 13px 0;
      outline: none;
      cursor: pointer;
      &:hover {
        .one-news__last-date {
          color: black;
          border-color: black;
        }
        .one-news__last-name {
            color: black;
        }
      }
      &.active{
        .one-news__last-date {
          color: $gold;
          border-color: $gold;
        }
        .one-news__last-name {
            color: $gold;
        }
      }
    }
    &-date {
      font-size: 9px;
      padding: 3px 5px 2px;
      border-radius: 20px;
      border: 2px solid #979797;
      color: #979797;
      line-height: 1;
      font-weight: bold;
      transition: all 0.2s;
    }
    &-name {
      font-size: 14px;
      color: lighten($black, 15%);
      margin-left: 15px;
      font-weight: bold;
      transition: all 0.2s;
      i {
        margin-right: $sp/3;
      }
    }
  }
  &__footer {
		display: flex;
    align-items: center;
    height: 145px;
    border-top: 1px solid $gray-light;
    &-left {
      flex: 0 0 360px;
      display: flex;
    }
		&-right {
      flex: 1;
			display: flex;
      justify-content: center;
      align-items: center;
      i {
        font-size: 26px;
      }
      .mdi-record {
        font-size: 10px;
      }
		}
	}
  &__paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      font-size: 30px;
    }
    .mdi-record {
      font-size: 10px;
    }
    .mdi-chevron-left, .mdi-chevron-right {
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        color: $gold;
      }
    }
  }
}
