.search-block { 
	background: #F8F6F2;
	height: 140px;
	display: flex;
	align-items: center;
	justify-content: center;
  box-shadow: 1px -2px 4px #1b1a1a;
  position: relative;
  &__box {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex: 1;

  }
  &__input {
   flex: 1;
   margin-right: $sp;
 }
}
