<div class="art__header">
	<div class="art__cart">
		<div class="art__cart-imgbox">
			<!-- <div class="art__cart-img" style="background: url(../assets/img/art/rt.jpg);"></div> -->
			<div class="art__cart-img" [ngStyle]="{'background-image': 'url(' + mediaImg  + ')'}"></div>
		</div>
		<div class="art__cart-info">
			<h3>{{ Catmass.name }}</h3>
			<!-- <div class="art__cart-strong">
				{{ Catmass.description}}
			</div> -->
			<div class="art__cart-text">
				{{ Catmass.description}}
			</div>
			<div class="btn art__cart-btn">На страницу автора</div>
		</div>

	</div>
</div>
