<div class="art__header">
	<div class="art__cart">
		<div class="art__cart-imgbox">
			<div class="art__cart-img" style="background: url(../assets/img/art/rt.jpg);"></div>
		</div>
		<div class="art__cart-info">
			<h3>Евгений Расторгуев</h3>
			<div class="art__cart-strong">
				Заслуженный деятель искусств России, живописец, график-иллюстратор, скульптор.
			</div>
			<div class="art__cart-text">
				Евгений Расторгуев знаменит в основном своим практически бесконечным циклом "Городецкие фантазии".
				Живопись и графика мастера находятся в Государственном Русском музее, Государственной Третьяковской галерее, а также в многочисленных частных собраниях, как в России, так и за рубежом.
			</div>
		</div>

	</div>
</div>