<div class="home-wrap">
	<div class="home__info">
		<div class="home__info-wrap">
			<div class="home__info-logo"></div>
			<div class="home__info-text">
				Сайт посвященный 4м художникам, <br>
				жившим в разную эпоху. Но составляющих одно целое
			</div>
			<div class="btn btn_gold home__info-btn">Подробнее</div>
		</div>
	</div>
	<div class="top-slider">
		<div class="top-slider__item" style="background: url(../../assets/slider/bg-sl1.jpg) no-repeat;">
			<div class="top-slider__text">«Троица» из серии «Часовня духа» 2005г.</div>
		</div>
		<div class="top-slider__item" style="background: url(../../assets/slider/bg-2.jpg) no-repeat;">
			<div class="top-slider__text">«Арлекин с раковинами» из серии «Часовня духа» 2005г.</div>
		</div>
		<div class="top-slider__item" style="background: url(../../assets/slider/bg-3.jpg) no-repeat;">
			<div class="top-slider__text">«Лежащая и раковины» из серии «Часовня духа» 2005г.</div>
		</div>
	</div>

	<!-- меню художников -->
	<div class="home-menu">
		<div class="home-menu__item" *ngFor="let menu of MenuArts">
			<div class="home-menu__link" routerLink="art/{{menu.object_id}}/{{menu.children[0].object_id  }}">
				{{ menu.title }}
			</div>
		</div>
	</div>

	<!-- поиск -->
	<div class="search-block">
		<div class="search-block__box">
			<div class="search-block__input"><input type="text"></div>
			<div class="btn  btn_icon btn_search "><i class="mdi mdi-magnify"></i> Искать</div>
		</div>
	</div>

	<!-- плитки -->
	<div class="tiles" >
		<div class="tiles__item" routerLink="{{ menu.link }}" *ngFor="let menu of MenuArts">
			<div class="tiles__wrap">
				<div class="tiles__name">{{ menu.title }}</div>

				<div class="tiles__merit">Заслуженный деятель искусств России,живописец, <br> график-иллюстратор, скульптор.</div>


			</div>

		</div>
	</div>

	<!-- Новостной слайде -->
	<div class="news-slider">
		<h3>Новости</h3>
		<div [routerLink]="['/all_news']" class="news-slider__link">Архив</div>
		<div class="news-slider__wrap">

			<div class="all-news__item"  *ngFor='let newsItem of News'>
				<div class="all-news__item-link">
					<div class="all-news__item-img"
						 [ngStyle]="{'background-image': 'url(' + newsItem.headimg  + ')'}"
						  routerLink="{{ '/all_news/news/' + newsItem.id }}"
						  (click)="scrollToTop()"
						 ></div>
					<div class="all-news__item-wrap" >
						<div class="all-news__item-title" [innerHTML]="newsItem.title.rendered"></div>
						<div class="all-news__item-text" [innerHTML]="newsItem.excerpt.rendered"></div>
						<div class="all-news__item-footer">
							<div class="all-news__item-date"><i class="mdi mdi-calendar-today"></i>
								{{ newsItem.date_gmt | date:'MM.dd.yyyy'}}
							</div>
							<div class="all-news__item-tag-left">
								<div class="all-news__item-tag"
									*ngIf="newsItem.categories.length > 0">

									{{ getcategorynamebyid(newsItem.categories) }}

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>

	<!-- форма обратной связи -->
	<div class="fitback">
		<h3>Обратная связь</h3>
		<div class="fitback__text">Вы можете оставить комментари или задат вопрос автору работ. <br> В любом случае. Ваше сообщение дойдет до адресата.</div>

		<div class="fitback__form">
			<div class="fitback__inputs">
				<input type="text" placeholder=" Имя">
				<input type="text" placeholder=" E-mail">
			</div>
			<textarea name="" id="" cols="30" rows="10" placeholder="Сообщение"></textarea>
			<div class="btn brn_gold">Отправить</div>
		</div>
	</div>
</div>
