<div class="home-wrap">
	<div class="top-slider"></div>
	<div class="home-menu">
		<div class="home-menu__item">Евгений Расторгуев</div>
		<div class="home-menu__item">Евгений Расторгуев</div>
		<div class="home-menu__item">Евгений Расторгуев</div>
		<div class="home-menu__item">Наталья Варламова</div>
	</div>
	<div class="search-block"></div>
	<div class="tiles">
		<div class="tiles__item">Евгений Расторгуев</div>
		<div class="tiles__item">Евгений Расторгуев</div>
		<div class="tiles__item">Евгений Расторгуев</div>
		<div class="tiles__item">Евгений Расторгуев</div>
	</div>
	<div class="news-slider">
		<h3>Новости</h3>
		<div class="Архив"></div>
	</div>
	<div class="fitback">
		<h3>Обратная связь</h3>
		<div class="fitback__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit recusandae, praesentium.</div>
	</div>
</div>
